In [1]:
import pandas as pd
import numpy as np

In [2]:
# 엑셀파일 읽고 쓰기 

df = pd.read_excel('Data/excel_exam.xlsx', index_col ='id')
df2 = df.drop(['class'], axis =1)

df['total'] = df2.sum(axis = 1)
df['mean'] = round(df2.mean(axis=1), 2)

df

# 저장 
df.to_excel('Data/new_exam.xlsx', index=True)

In [3]:
# Data Frame 정렬 , 새로운 컬럼 추가하기 

df= pd.read_excel('Data/new_exam.xlsx', index_col = 'id')

df['총점'] = df['math'] + df['english'] +df['science']

df['평균'] = round(df['총점'] /3 , 2) 

df_75 = df[df['평균'] > 75] 

df.sort_values(by='평균', ascending=True)  # 오름차순 
df.sort_values(by='평균', ascending=False) # 내림차순

df['합격']  = '0'

df2 = df[df['평균'] >= 75]
df3 = df[df['평균'] < 75]

df2
# df2['합격'] = 'Pass'
# df3['합격'] = 'Fail'
df2.loc[:, '합격'] = 'Pass'
df3.loc[:, '합격'] = 'Fail'

df2.append(df3).sort_values(by='id', ascending=True)

/usr/local/var/pyenv/versions/3.6.2/envs/fc-python/lib/python3.6/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

    class  math  english  science  total   mean   총점     평균    합격
id
1       1    50       98       50    198  66.00  198  66.00  Fail
2       1    60       97       60    217  72.33  217  72.33  Fail
3       1    45       86       78    209  69.67  209  69.67  Fail
4       1    30       98       58    186  62.00  186  62.00  Fail
5       2    25       80       65    170  56.67  170  56.67  Fail
6       2    50       89       98    237  79.00  237  79.00  Pass
7       2    80       90       45    215  71.67  215  71.67  Fail
8       2    90       78       25    193  64.33  193  64.33  Fail
9       3    20       98       15    133  44.33  133  44.33  Fail
10      3    50       98       45    193  64.33  193  64.33  Fail
11      3    65       65       65    195  65.00  195  65.00  Fail
12      3    45       85       32    162  54.00  162  54.00  Fail
13      4    46       98       65    209  69.67  209  69.67  Fail
14      4    48       87       12    147  49.00  147  49.00  Fail
15      4    75       56       78    209  69.67  209  69.67  Fail
16      4    58       98       65    221  73.67  221  73.67  Fail
17      5    65       68       98    231  77.00  231  77.00  Pass
18      5    80       78       90    248  82.67  248  82.67  Pass
19      5    89       68       87    244  81.33  244  81.33  Pass
20      5    78       83       58    219  73.00  219  73.00  Fail

## Chained assignment : Copy 본이 만들어 지면서 동시에 인덱싱으로 쓰기 

###  Warning 발생할 때 
```python 
pd.set_option('mode.chained_assignment', None)
```

In [4]:
df = pd.DataFrame({'a':[1,2,3],
                   'b':['one', 'two', 'three']})

# pd.set_option('mode.chained_assignment', None)
pd.set_option('mode.chained_assignment', 'raise')

# df['a'][0] = 40     # SettingWithCopyWarning: , Chained assignment 

df.loc[0, 'a'] = 40

df2 = df        # View  - 메모리를 공유

df3 = df['a']   # Copy  - 메모리를 공유하지 않는다.